<html>
<head>

</head>

<body>
  <div align="center">
  <form method="post" action="/api/login">
    <div class="container">
      <h1 class="sty" style="color:powderblue;font-size:350%;">Login</h1>
      <p class="sty">Please fill in this form to log-in to your account.</p>
      <hr>

      <p class="sty"><b>Username</b></p>
      <input type="text" placeholder="Enter Username" name="username" required>
      <p class="sty"><b>Password</b></p>
      <input type="password" placeholder="Enter Password" name="password" required>

  <br />
    <br/><button type="submit" class="btn btn-outline-success" name="submit">Login</button>
    </div>
  </form>
  <br /><br />
  <a href="/api1/google" class="btn btn-danger btn-lg">
    <span class="fab fa-google"></span>
    Google Sign-in
  </a>
  </div>
  </body>
  </html>
