<div align="center">
  <h1>People You may know</h1>


<h1>{{output}}</h1>
  {{#each output}}


    <img src="../images/profilepics/{{this.userpic}}" width="180" height="200" />
    <br />


        <h2>Name:-</h2><h4>{{this.username}}</h4>




    <form action="/api1/friendreq" method="post">
      <input type="text" value={{this.username}} name="requser" hidden="true"/>
        <button class="btn btn-primary" type="submit">Add as friend</button>
    </form>

  <br />  <br />
    {{/each}}

  </div>
