<div align="center">
  <h1>Your Profile</h1>
  <img src="../images/profilepics/{{user.profileimage}}" width="180" height="200" />
  <h2>Name:-</h2><h4>{{user.username}}</h4>
  <h2>Email:-</h2><h4>{{user.email}}</h4>
  <h2>Friends Count</h2><h4>{{user.friends}}</h4>

</div>
