
  {{#each pic}}
  <div>
    <img src="../images/profilepics/{{this}}" width="180" height="200" />
    {{/each}}
    <br />
      {{#each name}}
    <h2>Name:-</h2><h4>{{this}}</h4>

  <br />  <br />
    {{/each}}
